<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phish Trap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="stylesheet.css">

    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

</head>

<body class="desktop-1">

    <img class="logo" src="logo.png" alt="Group 3" />

    <div class="footer">

        <span class="pop-nor-white-18 about-us">
            ABOUT US
        </span>

        <span class="pop-nor-20 contact-us">
            contact.us@phishtrap.com
        </span>

        <span class="copyright">
            <iconify-icon icon="ph:copyright" style="color: #fffbeb;"></iconify-icon>
        </span>

        <span class="pop-nor-20 rights-reserved">
            2023 Phish trap All Rights Reserved
        </span>

    </div>

    <div class="home-page">
        <img class="wobbly" src="wobbly.png" alt="img">

        <img class="welcome-img" src="welcome.png" alt="img">

        <div class="url-looks-fishy open-sb-white-28">
            URL LOOKS FISHY AND SCARED THAT IT MIGHT BE A BAIT?
        </div>

        <div class="why-take-a-risk-then open-sb-white-22">
            WHY TAKE A RISK THEN?
        </div>

        <div class="do-you-know pop-nor-20">
            Do you know that one click on these fishy websites can risk your sensitive data and can result in
            identity theft and financial loss?
        </div>

        <div class="phishing-is pop-nor-20">
            Phishing is a cybercrime but it can be prevented by taking precautions. Use Phish trap to check the
            safety of URL you are about to click and save yourself from phishing offences.
        </div>

        <div class="login-now-to-proceed pop-nor-20">Login now to proceed.</div>

        <button class="login-button button-hover open-sb-blue-20" onclick="window.location.href = 'login.html';">
            LOGIN
        </button>

    </div>

</body>
</html>