<!DOCTYPE html>
<html lang="en">                                
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phish Trap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="stylesheet.css">

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.2/dist/iconify-icon.min.js"></script>

    <script src="javascript.js"></script>

</head>

<body class="desktop-1">
    
    <img class="logo" src="logo.png" alt="Group 3" />

    <div class="footer">

        <span class="pop-nor-white-18 about-us">
            ABOUT US
        </span>

        <span class="pop-nor-20 contact-us">
            contact.us@phishtrap.com
        </span>

        <span class="copyright">
            <iconify-icon icon="ph:copyright" style="color: #fffbeb;"></iconify-icon>
        </span>

        <span class="pop-nor-20 rights-reserved">
            2023 Phish trap All Rights Reserved
        </span>

    </div>

    <div class="home-page">
        <img class="wobbly" src="wobbly.png" alt="img">

        <img class="welcome-img" src="login.png" alt="img">

        <div class="welcome-back open-sb-white-28">
            WELCOME BACK
        </div>

        <hr class="login-line-1">
       
        <input type="text" placeholder="username/email" class="pop-l-white-16 username" required>  
        
        <span class="user">
            <iconify-icon icon="mingcute:user-1-line" width="25"></iconify-icon>
        </span>

        <hr class="login-line-2">
       
        <input type="password" placeholder="password" class="pop-l-white-16 password" required>  
        
        <span class="pass" >
            <iconify-icon icon="material-symbols:lock-outline" width="26"></iconify-icon>
        </span>

        <div class="misc-1">
            <span>
                <input type="checkbox"  class="checkbox">
            </span>

            <span class="remember-me pop-nor-white-13">
                Remember me
            </span>

            <span class="pop-nor-white-14 forgot-pass">
                Forgot password?
            </span>
        </div>

        <button class="login-button-2 button-hover open-sb-blue-20" onclick="window.location.href = 'check.html';">
            LOGIN
        </button>
        
        <div class="dont-have-acc">
            <span class=" pop-nor-white-13">
                Don't have an account yet? <a class="signup-link pop-nor-white-13" href="signup.html">Sign up</a>
            </span>
        </div>
        
    </div>
</body>

</html>
